button{
    letter-spacing: 2px;
    box-shadow: 4px 3px 7px 2px #00000040;
    border-radius: 25px;
    margin: 1rem 0.7rem;
    margin-left: 47%;
    font-size: 19px;
    background-color: #174590;
    color: white;
    height: 50px;
    width: 100px;
}
